<footer class="mt-auto text-center text-xs font-header p-2">
  <p>&copy; 2020 thigoap</p>
  <p>Developed by <a aria-label="link to Developer" target="_blank" rel="noopener noreferrer" href="https://thigoap.me">thigoap</a></p>
</footer>