<div id="projectslist" class="grid grid-cols-1 text-center gap-4 mx-auto w-11/12
  md:grid-cols-2 md:w-full lg:grid-cols-3
">

  {% for project in projects %}
    <div class="rounded overflow-hidden shadow hover:shadow-md duration-200 mx-auto flex flex-col {{ project.tech }}">
      {% if project.demo %}
        <a target="_blank" href={{ project.demo }}>
          <img class="w-full object-cover h-auto" src="{{ project.image }}" alt="{{ project.name }}">
        </a>
      {% else %}
        <img class="w-full object-cover h-auto" src="{{ project.image }}" alt="{{ project.name }}">
      {% endif %}
      <div class="p-2 flex flex-col flex-1">
        <div class="font-bold mb-1">{{ project.name }}</div>
        <div class="text-gray-700 text-xs">{{ project.description }}</div>
        <div class="w-4/5 mx-auto flex flex-1 items-end justify-around py-1">
        {% if project.demo %}
          <a class="text-buttontext bg-buttonbg hover:bg-buttonhover p-1 text-xs rounded focus:outline-none focus:shadow-outline duration-200"
            target="_blank"
            href={{ project.demo }}>
              LIVE
          </a>
        {% endif %}
        {% if project.code %}
          <a class="text-buttontext bg-buttonbg hover:bg-buttonhover p-1 text-xs rounded focus:outline-none focus:shadow-outline duration-200"
            target="_blank"
            href={{ project.code }}>
              CODE
          </a>
        {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  
</div>