<div class="h-full flex flex-col pt-4 pb-8">
    <p class="text-slate-300 text-4xl pb-1 border-b">Sobre mim</p>
    <div class="pt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tempora perspiciatis reiciendis optio, architecto blanditiis minus veritatis velit ipsa, inventore aperiam earum, beatae eaque vel quam doloremque! Unde, ipsa excepturi.
    Quaerat error placeat odit praesentium recusandae ipsa assumenda, eligendi tenetur voluptas maiores cum numquam in itaque molestias reiciendis pariatur exercitationem architecto nostrum mollitia sunt earum, fugiat aspernatur enim dolores. Numquam.
    Nulla eius asperiores in enim quidem, corrupti magnam delectus quam magni explicabo pariatur quaerat molestiae voluptates facilis cum unde eos, vel voluptas earum voluptate aspernatur esse, labore distinctio. Eos, quos.
    Optio eos dolorum, animi quaerat blanditiis at iure? Cum sunt consequuntur, recusandae ratione veritatis iure cumque quod officia rerum. Deleniti numquam quo quae. Voluptatibus odit necessitatibus, aut voluptate autem cupiditate!
    Error, quidem. Eum rem assumenda recusandae eligendi obcaecati repellendus voluptas voluptates, sit quia facere eius, fuga vero quam numquam illum, consectetur veritatis totam cupiditate? Odit dolores itaque officia pariatur illo?
    Quisquam voluptas, iste nemo id, repudiandae asperiores consectetur nesciunt magnam voluptate similique culpa placeat incidunt veritatis. Omnis debitis quam corporis unde incidunt, similique quas consequatur. Sed voluptatibus a ratione necessitatibus!
    Mollitia corporis voluptas quidem sit iusto, illo ab, earum dolores dolor neque beatae quae fugiat! Officia magni aut soluta repudiandae consequatur totam dolor dicta, dolore quam animi tenetur quae pariatur.
    </div>
    <div class="flex justify-end pt-8">
    <a class="w-fit" href="" download download="Thiago Abrahão Pereira.pdf">
        <p class="px-4 py-2 bg-slate-300 rounded text-slate-800 font-bold">Download CV</p>
    </a>
    </div>
</div>