<div class="h-full flex flex-col pt-4 pb-8">
    <p class="text-slate-300 text-4xl pb-1 border-b">Certificações</p>
    <div class="grid grid-cols-2 gap-4 pt-4">
        <div class="flex flex-col items-center">
            <a target="_blank" href="https://www.credly.com/earner/earned/badge/b9cd8d31-64a8-4a6a-a907-a20ecaaf5dc7">
            <img class="h-48 w-48"
            src="./theme/images/azure-data-fundamentals.png" alt="azure data fundamentals"></a>
            <p class="py-1">Microsoft Azure Data Fundamentals - DP-900</p>
        </div>
    </div>

</div>