<div id="burgerBtn"
class="transform duration-300 fixed cursor-pointer
top-16 left-4
lg:-translate-x-32">
    <img class="h-6"
    src="./theme/images/burger-menu.png" alt="burger-menu">
</div>
<div id="navLinks"
class="transform duration-300 -translate-x-32 fixed
top-24 left-4
lg:translate-x-0">
    <ul class="menu-items">
        <li><a href="#">Home</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#projects">Projetos</a></li>
        <li><a href="#certifications">Certs.</a></li>
        <li><a href="#contact">Contato</a></li>
        <li class="flex gap-x-1 pt-2">
            <a target="_blank" href="https://www.linkedin.com/in/thigoap"><img class="h-6" src="./theme/images/icon-linkedin.png" alt="icon-linkedin"></a>
            <a target="_blank" href="https://www.github.com/thigoap"><img class="h-6" src="./theme/images/icon-github.png" alt="icon-github"></a>
        </li>
    </ul>
</div>

<script>
	burgerBtn.addEventListener('click', () => {
        navLinks.classList.toggle('translate-x-0')
	  }
	)
	window.addEventListener('scroll', () => {
        navLinks.classList.remove('translate-x-0')
	  }
	)    
  </script>

