<div class="h-full flex flex-col pt-4 pb-8">
    <p class="text-slate-300 text-4xl pb-1 border-b">Projetos</p>
    <div id="dados">
        <p class="text-xl pt-4">Dados</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">
            <div class="flex flex-col items-center">
                <a target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiM2U0ZGIxYjAtMDRhNS00OTc3LThmYjEtMzU2ZDcyMTIzZjI5IiwidCI6Ijc1YjJhMjI2LTI2YjAtNDA4Yy1iY2JlLTIwMTQwODhhMmMzZSJ9">
                <img class="max-h-64"
                src="./theme/images/projects/data-soccer.png" alt="data-soccer"></a>
                <p class="py-1">Brasileirão no Power BI</p>
            </div>
        </div>


    </div>
    <div id="web">
        <p class="text-xl pt-4">Web</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">
            <div class="flex flex-col items-center">
                <a target="_blank" href="https://thigoap.github.io/pomodoro">
                <img class="h-auto max-h-72"
                src="./theme/images/projects/web-pomodoro.png" alt="web-pomodoro"></a>
                <p class="py-1">Pomodoro</p>
            </div>
            <div class="flex flex-col items-center">
                <img class="h-auto max-h-72"
                src="./theme/images/projects/web-portfolio.png" alt="web-portfolio">
                <p class="py-1">Inception. Esse Portfolio</p>
            </div>
        </div>
    </div>
    <div id="python">
        <p class="text-xl pt-4">Python</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">

        </div>
    </div>
    <div id="games">
        <p class="text-xl pt-4">Games</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">

        </div>
    </div>
</div>